{% extends 'default.html' %}


{% block content %}


<div class="container">
    {% include 'catalog/catalog.html' %}
</div>

<img
srcset="
../media/temp/store-slider/1_w_640.jpg 640w,
../media/temp/store-slider/1_w_1606.jpg 1606w,
../media/temp/store-slider/1_w_2300.jpg 2300w"
src="../media/temp/store-slider/1_w_2300.jpg"
alt="">
<img
srcset="
../media/temp/store-slider/2_w_640.jpg 640w,
../media/temp/store-slider/2_w_1603.jpg 1603w,
../media/temp/store-slider/2_w_2300.jpg 2300w"
src="../media/temp/store-slider/2_w_2300.jpg"
alt="">
<img
srcset="
../media/temp/store-slider/3_w_640.jpg 640w,
../media/temp/store-slider/3_w_1603.jpg 1603w,
../media/temp/store-slider/3_w_2300.jpg 2300w"
src="../media/temp/store-slider/3_w_2300.jpg"
alt="">

{% endblock %}