{% macro catalog(data) %}
<div class="catalog catalog_{{data.class}}">
  {% if data.title %}<div class="title">{{data.title}}</div>{% endif %}
  {% if data.class == 'home' %}<a href="#" class="block-animate link-all link-all_mobile_dark link-all-sticky">Все коллекции <svg width="12" height="12"> <use xlink:href="#arr"></use> </svg></a>{% endif %}
  <div class="catalog-menu catalog-menu-sticky">
    <div class="catalog-menu-wrapper catalog-menu-top">
      <div class="inner">
        {% for i in data.nav %}
        <a href="#">{{i.title}}</a>
        {% endfor %}
      </div>
    </div>
    <div class="catalog-menu-wrapper catalog-menu-middle">
      <div class="inner">
          {% for i in data.nav %}
          <a href="#"><span data-letters="{{i.title}}">{{i.title}}</span> <span class="supdate">{{i.date}}</span></a>
          {% endfor %}
      </div>
    </div>
    <div class="catalog-menu-wrapper catalog-menu-bottom">
      <div class="inner">
        {% for i in data.nav %}
        <a href="#">{{i.title}}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="catalog__imgs">
    {% for i in data.imgs %}
    {% set loopIndex = loop.index %}

    <div class="catalog__imgs-item">
      <a href="#" class="catalog-slider__title"><span>{{data.nav[loop.index-1].title}}</span> <sup>{{data.nav[loop.index-1].date}}</sup></a>
      <div class="catalog-slider catalog-slider_{{loop.index}} swiper-container">
        <div class="imgs-grid aos-me-container imgs-grid_{{loop.index}} swiper-wrapper">
          {% for item in i.items  %}
          <a href="#" class="swiper-slide imgs-grid__item {% if item.description %}imgs-grid__item_text{% endif %} imgs-grid__item_{{item.size}} {% if item.alignBottom %}imgs-grid__item_bottom{% endif %}">
            <img class="imgs-grid__img aos-me" 
            {% if item.srcset  %}
            srcset=" ../media/temp/catalog/{{data.class}}/{{loopIndex}}/{{loop.index}}-{{item.srcset[0]}}.jpg {{item.srcset[0]}}w, ../media/temp/catalog/{{data.class}}/{{loopIndex}}/{{loop.index}}-{{item.srcset[1]}}.jpg {{item.srcset[1]}}w"
            src="../media/temp/catalog/{{data.class}}/{{loopIndex}}/{{loop.index}}-{{item.srcset[1]}}.jpg"
            {% else %}
            src="../media/temp/catalog/{{data.class}}/{{loopIndex}}/{{loop.index}}-350.jpg"
            {% endif %}
            alt="">
            {% if item.description %}<span class="imgs-grid__text"><span>{{item.description}}</span></span>{% endif %}
          </a>
          {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
      </div>
      {% if data.class == 'collection' %}<div class="catalog__imgs-item__title">{{item.description}}</div>{% endif %}
      <a href="#" class="block-animate link-all">В коллекцию <svg width="12" height="12"> <use xlink:href="#arr"></use> </svg></a>
    </div>
    {% endfor %}    
  </div>
</div>
{% endmacro %}
