<div class="centerText">
  <div class="centerText__title" data-aos="fade-up">Современный человек не носит одежду, он разговаривает с ее помощью. Формирует собственный стиль и транслирует его миру. Чтобы его заметили, приняли и полюбили таким, какой он есть. »</div>
  <div class="centerText__footer" data-aos="fade-up">
    <div class="centerText__footer-inner">
      <svg>
        <use xlink:href="#logo1"></use>
      </svg>
      <div class="centerText__1">Концептуальная дизайнерская одежда и обувь</div>
    </div>
  </div>
</div>