<div class="imgsSiblings aos-me-container">
  <div class="img-1 lax" data-lax-preset_small="lazy-100" data-lax-preset_large="lazy-400"><img class="aos-me" src="../media/temp/imgs/1.jpg" alt=""></div>
  <div class="img-2">
    <img class="aos-me" 
    srcset="
    ../media/temp/imgs/2_w_500.jpg 500w,
    ../media/temp/imgs/2_w_1016.jpg 1016w,
    ../media/temp/imgs/2_w_1457.jpg 1457w,
    ../media/temp/imgs/2_w_1720.jpg 1720w"
    src="../media/temp/imgs/2_w_1720.jpg"
    data-aos-delay="200" alt="">
  </div>
</div>
