{% macro storesItem(data) %}
<div class="store-list__item" data-aos="fade-up" data-modal-imgs='{"urls" : ["media/temp/store-slider/1.jpg", "media/temp/store-slider/1.jpg", "media/temp/store-slider/1.jpg"]}'>
  <div class="store-content">
    <div class="store-content__inner">
      <h3 class="store-content__title">{{data.title | safe}}</h3>
      <div class="store-content__item">
        <span>Адрес:</span> {{data.address | safe}}
      </div>
      <div class="store-content__item">
        <span>Тел.:</span> {{data.phone | safe}}
      </div>
      <div class="store-content__subtitle">Режим работы</div>
      <div class="store-content__item store-content__item_workdays">
        {{data.workdays | safe}}
      </div>
      <div class="store-content__link"></div>
    </div>
  </div>
  <div class="store-slider swiper-container">
    <div class="store-slider-slides swiper-wrapper">
      {% for i in range(3) %}
      <div class="store-slider__item swiper-slide">
        <img src="../media/temp/store-slider/1.jpg" alt="">
      </div>
      {% endfor %}
    </div>
    <div class="slider-controls">
      <div class="slider-navigation">
        <div class="slider-button slider-button-prev"></div>
        <div class="slider-button slider-button-next"></div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="linkfull"></div>
    </div>
  </div>
  <div class="store-map">
    <div class="store-map__inner" data-lat="{{data.map.lat | safe}}" data-lng="{{data.map.lng | safe}}"></div>
  </div>
</div>
{% endmacro %}