{% macro storesItem(data, index) %}
<div class="store-list__item js-modal-store-item" data-aos="fade-up" data-modal-imgs='{"urls" : {{data.imgsModal | dump | safe}}}' data-id="{{index}}">
  <div class="store-content">
    <div class="store-content__inner">
      <h3 class="store-content__title">{{data.title | safe}}</h3>
      <div class="store-content__item">
        <span>Адрес:</span> {{data.address | safe}}
      </div>
      <div class="store-content__item">
        <span>Тел.:</span> {{data.phone | safe}}
      </div>
      <div class="store-content__subtitle">Режим работы</div>
      <div class="store-content__item store-content__item_workdays">
        {{data.workdays | safe}}
      </div>
      <div class="store-content__link"></div>
    </div>
  </div>
  <div class="store-slider swiper-container">
    <div class="store-slider-slides swiper-wrapper">
      {% for img in data.imgs %}
      <div class="store-slider__item swiper-slide">
        <img src="{{img}}" alt="">
      </div>
      {% endfor %}
    </div>
    <div class="slider-controls">
      {% if data.imgs.length > 1 %}
      <div class="slider-navigation">
        <div class="slider-button slider-button-prev"></div>
        <div class="slider-button slider-button-next"></div>
      </div>
      <div class="swiper-pagination"></div>
      {% endif %}
      {% if data.imgsModal.length %}
      <div class="linkfull js-modal-store-trigger"></div>
      {% endif %}
    </div>
  </div>
  <div class="store-map">
    <div class="store-map__inner" data-lat="{{data.map.lat | safe}}" data-lng="{{data.map.lng | safe}}"></div>
  </div>
</div>
{% endmacro %}