@import utilities/smart-grid
@import utilities/mixins
@import utilities/variables

.modalStore
  height: 100%
  padding-right: calc(var(--columnJs) * 8)
  +lg-block
    padding-right: calc(var(--columnJs) * 4)
  +xs-block
    padding-right: 0
  &__item
    height: 100%
    img
      width: 100%
      height: 100%
      object-fit: cover
    +lg-block
      width: 85%
    +xs-block
      width: 100%

  .slider-controls
    position: absolute
    right: var(--fields)
    bottom: 90px
    z-index: 1
    display: flex
    +xs-block
      right: 0
      bottom: 0
      
  .slider-navigation
    +lg-block
      display: none
  .swiper-pagination
    position: static
    flex: none
    width: var(--button-default-height)
    height: var(--button-default-height)
    display: flex
    justify-content: center
    align-items: center
    background-color: #fff
    +lg-block
      +tns-nav-block
      width: auto
    +xs-block
      bottom: 0
      right: var(--button-default-height)
      top: auto
