<div class="slider sliderColl m-b-6 m-b-xl-6 m-b-xs-6" data-aos="fade-up">
  <div class="slider__slidesWrapper">
    <div class="slider__slides">
    {% for i in ["Age-free 2019", "Classic 2019", "Concept 2019/20", "Age-free 2019", "Classic 2019", "Concept 2019/20"] %}
    <a href="#" class="slider__item sliderColl__item">
      <div class="sliderColl__img">
        <img src="../media/temp/sliderColl/{{loop.index}}.jpg" alt="">
      </div>
      <div class="sliderColl__title">{{i}}</div>
      <div class="sliderColl__num">36 моделей</div>
    </a>
    {% endfor %}
    </div>
  </div>
  <a href="#" class="button-animate link-all link-all_mobile_dark">Все коллекции <svg width="12" height="12"> <use xlink:href="#arr"></use> </svg></a>
</div>