<div class="title m-b-6 m-b-xl-5 m-b-xs-4">Где купить</div>
<div class="slider">
  <div class="slider__slidesWrapper swiper-container" data-aos="fade-up">
    <div class="slider__slides swiper-wrapper">
    {% for i in range(6) %}
      <div class="slider__item storeBlock swiper-slide js-modal-store-item" data-modal-imgs='{"urls" : [{"srcset": "../media/temp/store-slider/1_w_640.jpg 640w, ../media/temp/store-slider/1_w_1606.jpg 1606w, ../media/temp/store-slider/1_w_2300.jpg 2300w", "src": "../media/temp/store-slider/1_w_2300.jpg"}, {"srcset": "../media/temp/store-slider/2_w_640.jpg 640w, ../media/temp/store-slider/2_w_1603.jpg 1603w, ../media/temp/store-slider/2_w_2300.jpg 2300w", "src": "../media/temp/store-slider/2_w_2300.jpg"}, {"srcset": "../media/temp/store-slider/3_w_640.jpg 640w, ../media/temp/store-slider/3_w_1603.jpg 1603w, ../media/temp/store-slider/3_w_2300.jpg 2300w", "src": "../media/temp/store-slider/3_w_2300.jpg"}]}'>
        <div class="storeBlock__img js-modal-store-trigger">
          <img src="../media/temp/item/{{loop.index}}.jpg" alt="">
        </div>
        <div class="storeBlock__content">
          <div class="storeBlock__title">Торгово-развлекательный центр «Великий камень»</div>
          <div class="storeBlock__addr">г. Москва, ул. Набережная, 12</div>
          <div class="storeBlock__tel"><span class="storeBlock__tel-t">Тел.:</span> <a href="#" class="storeBlock__tel-tel">+7 (945) 900-23-21</a><span class="hidden-xs">, </span> <a href="#" class="storeBlock__tel-tel">+7 (945) 900-23-11</a></div>
          <div class="storeBlock__worktitle">Режим работы</div>
          <div class="storeBlock__days">
            <div class="storeBlock__daysItem"><span>ПН-ПТ:</span> 10:00–22:00</div>
            <div class="storeBlock__daysItem"><span>СБ-ВС:</span> 10:00–21:00</div>
          </div>
          <a href="#" class="storeBlock__map"><span>Как добраться</span></a>
        </div>
      </div>
    {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
    <div class="slider-navigation">
      <div class="slider-button slider-button-prev"></div>
      <div class="slider-button slider-button-next"></div>
    </div>
  </div>
  <a href="#" class="block-animate link-all link-all_mobile_dark">Все магазины <svg width="12" height="12"> <use xlink:href="#arr"></use> </svg></a>
</div>

