<div class="columnsText">
  <img class="img-full m-b-5 m-b-xl-4" src="../media/temp/franchise1.jpg" alt="img">
  <div class="columnsText__inner toggler" data-aos="fade-up">
    <p>Важнейшее направление AmaiaTogo — франчайзинг магазинов модной женской одежды. </p>

    <p>В рамках данной системы разработан оптимальный пакет сотрудничества, реализация которого позволяет сделать бизнес нашего партнера максимально эффективным.</p>

    <p>Коллекции AmaiaTogo проектируются по принципу капсул и флеш- коллекций, которые отражают самые востребованные коммерческие тренды, что позволяет работать на широкую целевую аудиторию
    и способствует комплексным продажам.</p>

    <p>Утверждается, что Amiatogo требуется всего 2 недели от разработки дизайна до поступления новой линии в продажу, по сравнению со средним показателем в индустрии - 6 месяцев. Более того, в течение года разрабатывается более 10 000 новых дизайнов.</p>

    <div class="toggler__content">
        <p>Amiatogo смогла устоять перед распространённым в индустрии производства одежды трендом размещения производственных точек в странах, с низкой стоимостью производства.</p>

        <p>Возможно, они выбрали самую необычную стратегию — затратам на рекламу, компания предпочла инвестировать часть прибыли в открытие новых торговых точек.</p>

        <p>Модный директор дома моды Louis Vuitton Даниэль Пьет описал Amiatogo, как «Возможно, наиболее инновационную и сокрушающую розничную сеть в мире». Также Amiatogo была охарактеризована CNN как «Испанская история успеха».</p>

        <p>Основатель компании Amiatogo, Amancio Ortega, открыл первый магазин Amiatogo в 1975 году. Первый магазин находился на центральной улице в Ла-Корунья. Благодаря успеху концепции Amiatogo, компания начала расширяться и открыла в последующем новые магазины.</p>
        <div class="m-b-4"></div>
    </div>
    <div class="toggler__link"></div>

  </div>
</div>