<div class="columnsText columnsText_lg">
  <div class="columnsText__title">Франчайзинг с AmaiaTogo — это возможность открыть свой бизнес, пользуясь технологиями существующего бренда. AmaiaTogo предлагает вам быстрое и эффективное вступление в готовый бизнес — франчайзинг, что в значительной степени гарантирует финансовый успех.</div>
  <hr class="hr" data-aos="fade-up">
  <div class="columnsText__inner toggler" data-aos="fade-up">
        <p>Amiatogo — ведущая торговая сеть группы компаний Inditex Group, принадлежит Испанскому магнату Амансио Ортега (Amancio Ortega), который также является владельцем таких брендов как Massimo Dutti, Pull and Bear, Oysho, Uterque, Stradivarius и Bershka. Головной офис находится в Ла-Корунья, Испания, где в 1975 году был открыт первый магазин.</p>
        <p>Утверждается, что Amiatogo требуется всего 2 недели от разработки дизайна до поступления новой линии в продажу, по сравнению со средним показателем в индустрии - 6 месяцев. Более того, в течение года разрабатывается более 10 000 новых дизайнов.</p>
    <div class="toggler__content">
        <p>Amiatogo смогла устоять перед распространённым в индустрии производства одежды трендом размещения производственных точек в странах, с низкой стоимостью производства. Возможно, они выбрали самую необычную стратегию — затратам на рекламу, компания предпочла инвестировать часть прибыли в открытие новых торговых точек.</p>
        <p>Модный директор дома моды Louis Vuitton Даниэль Пьет описал Amiatogo, как «Возможно, наиболее инновационную и сокрушающую розничную сеть в мире». Также Amiatogo была охарактеризована CNN как «Испанская история успеха».</p>
        <p>Основатель компании Amiatogo, Amancio Ortega, открыл первый магазин Amiatogo в 1975 году. Первый магазин находился на центральной улице в Ла-Корунья. Благодаря успеху концепции Amiatogo, компания начала расширяться и открыла в последующем новые магазины.</p>
        <div class="m-b-4"></div>
    </div>
    <div class="toggler__link"></div>
  </div>
</div>
