<div class="columnsText">
  <div class="columnsText__title">Коллекция женской одежды бренда AmaiaTogo проста и универсальна, здесь каждый сможет найти что-то для себя. </div>
  <hr class="hr" data-aos="fade-up">
  <div class="columnsText__inner toggler" data-aos="fade-up">
        <p>Компания AmaiaTogo разрабатывает коллекции в собственном дизайн-офисе на основе модных тенденций.</p>
        <p>Ассортимент AmaiaTogo обновляется в магазинах и на сайте каждые две недели и отражает все модные тренды. Также коллекция включает базовые модели и бестселлеры прошлых сезонов.</p>
        <p>Утверждается, что Amiatogo требуется всего 2 недели от разработки дизайна до поступления новой линии в продажу, по сравнению со средним показателем в индустрии - 6 месяцев. Более того, в течение года разрабатывается более 10 000 новых дизайнов.</p>
    <div class="toggler__content">
        <p>Amiatogo смогла устоять перед распространённым в индустрии производства одежды трендом размещения производственных точек в странах, с низкой стоимостью производства. Возможно, они выбрали самую необычную стратегию — затратам на рекламу, компания предпочла инвестировать часть прибыли в открытие новых торговых точек.</p>
        <p>Мы работаем с лучшими поставщиками, уделяя особое внимание качеству выпускаемой продукции. Система производства бренда расположена в Китае, Индии, Бангладеше, Камбодже, Вьетнаме и Турции.</p>
    </div>
    <div class="toggler__link"></div>
  </div>
</div>
