<div class="storesMap"></div>
<script>
    window.store_location = [
      {
        title: 'Магазин Amaiatogo',
        address: 'ул. Юрюкалова 15',
        city: 'Москва',
        location: {lat: 55.765390, lng: 37.605019},
      },
      {
        title: 'Магазин Amaiatogo',
        address: 'ул. Юрюкалова 15',
        city: 'Москва',
        location: {lat: 55.766023, lng: 37.636604},
      },
      {
        title: 'Магазин Amaiatogo',
        address: 'ул. Юрюкалова 15',
        city: 'Москва',
        location: {lat: 55.742555, lng: 37.629917},
      },
      {
        title: 'Магазин Amaiatogo',
        address: 'ул. Юрюкалова 15',
        city: 'Москва',
        location: {lat: 55.737241, lng: 37.618254},
      },
      {
        title: 'Магазин Amaiatogo',
        address: 'ул. Юрюкалова 15',
        city: 'Санкт-Петербург',
        location: {lat: 59.942795, lng: 30.275798},
      },
      {
        title: 'Магазин Amaiatogo',
        address: 'ул. Юрюкалова 15',
        city: 'Санкт-Петербург',
        location: {lat: 59.930071, lng: 30.355464},
      },
      {
        title: 'Магазин Amaiatogo',
        address: 'ул. Юрюкалова 15',
        city: 'Санкт-Петербург',
        location: {lat: 59.937509, lng: 30.354803},
      },
      {
        title: 'Магазин Amaiatogo',
        address: 'ул. Юрюкалова 15',
        city: 'Самара',
        location: {lat: 53.212092, lng: 50.211095},
      },
      {
        title: 'Магазин Amaiatogo',
        address: 'ул. Юрюкалова 15',
        city: 'Ижевск',
        location: {lat: 56.866228, lng: 53.178319},
      },
      {
        title: 'Магазин Amaiatogo',
        address: 'ул. Юрюкалова 15',
        city: 'Ижевск',
        location: {lat: 56.838631, lng: 53.210555},
      },
    ];
</script>
