<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Amaiatogo</title>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/3.0.0-beta.6/aos.css"> -->
  <link preload rel="stylesheet" href="main.css">
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiJKBl6GiYYiWwtQ83MAjktc80Qdgy9MQ"></script>
</head>

<body class="{% if bodyClass  == 'index' %}has-loader{% endif %} {{bodyClass}}">
  {% if bodyClass  == 'index' %}
  {% include 'loader/loader.html' %}
  <section class="top">
  <div class="top__inner lax" data-lax-translate-y_large="0 0, 400 200">
    {% block topBg %}
    <div class="top-video">
      <video src="../media/video/video1_1.mp4" muted="" playsinline autoplay="autoplay"></video>
      <div class="top-video__cover"></div>
    </div>
    <div class="top-overlay"><img src="../media/overlay1.jpg" alt="Amiatogo"></div>
    {% endblock %}
    <div class="container top-content">
      <div class="top-header">
        <a href="index.html" class="logo"><svg>
            <use xlink:href="#logo"></use>
          </svg></a>
        <div class="main-nav main-nav_top">
          <li><a href="#">Коллекции</a></li>
          <li><a href="#">Франшиза</a></li>
          <li><a href="#">Где купить</a></li>
        </div>
        <div class="mobileMenu-link"></div>
      </div>
      {% block topText %}
      <div class="top-text">
        <div class="top-text__1">Новая женская <br> коллекция</div>
        <div class="top-text__2">
          <a href="#" class="top-text__title">Spring Sportschic</a>
          <div class="supdate">2019/20</div>
        </div>
      </div>
      {% endblock %}
      <div class="top-scroll">Скролл</div>
    </div>
  </div>
</section>
  {% else %}
  <div class="container">
    <div class="top-header">
      <a href="index.html" class="logo"><svg>
          <use xlink:href="#logo"></use>
        </svg></a>
      <div class="main-nav main-nav_line main-nav_line_page">
        <li class="active"><a href="#">Коллекции</a></li>
        <li><a href="#">Франшиза</a></li>
        <li><a href="#">Где купить</a></li>
      </div>
      <div class="mobileMenu-link"></div>
    </div>
    <div class="breadcrumbs">
      <a href="#">Amiatogo</a>
      <a href="#" class="active">Коллекции</a>
    </div>
  </div>
  {% endif %}
  {% include 'topLine/topLine.html' %}
  {% block content %} {% endblock %}
  <div class="to-top"></div>
  <div class="container no-right-field footer-wrapper">
    <footer class="footer">
      <div class="footer__inner" data-aos="fade-up">
        <div class="footer__top">
          <div class="subscribe-us">
            <div class="subscribe-us__text">Получите эксклюзивную информацию о наших новых поступлениях и коллекциях:</div>
            <form action="#" class="subscribe-us__form">
              <input type="email" class="form-control" placeholder="Введите e-mail">
              <button class="button" type="submit"></button>
            </form>
          </div>
          <div class="footer-nav">
            <a href="#">Коллекции</a>
            <a href="#">Франшиза</a>
            <a href="#">Где купить</a>
            <a href="#">Политика конфиденциальности</a>
          </div>
        </div>
        <div class="footer__bottom">
          <div class="footer__copy"> © 2019 Amiatogo <br><br> ООО «Амиатого», ИНН 12313344, <br> 115114 г. Москва, пропект Мира, 12, офис 4, </div>
          <div class="footer__social">
            <div class="social social_default">
              <a href="#"><svg width="9" height="16">
                  <use xlink:href="#icon-facebook"></use>
                </svg></a>
              <a href="#"><svg width="17" height="14">
                  <use xlink:href="#icon-twitter"></use>
                </svg></a>
              <a href="#"><svg width="18" height="18">
                  <use xlink:href="#icon-pinterest"></use>
                </svg></a>
              <a href="#"><svg width="21" height="12">
                  <use xlink:href="#icon-vkontakte"></use>
                </svg></a>
              <a href="#"><svg width="16" height="16">
                  <use xlink:href="#icon-pinterest"></use>
                </svg></a>
              <a href="#"><svg width="20" height="14">
                  <use xlink:href="#icon-email"></use>
                </svg></a>
            </div>
            <div class="footer__question">Есть вопросы? <br> Пожалуйста, напишите нам: <a href="mailto:info@amiatogo.ru">info@amiatogo.ru</a>
            </div>
          </div>
            <div class="footer__develop">
              <div>Дизайн сайта — <a target="_blank" href="icrea.ru">icrea.ru</a></div>
              <div>Разработка сайта — <a target="_blank" href="natix.ru">natix.ru</a></div>
            </div>
        </div>
      </div>
    </footer>
    
  </div>
  {% include 'mobileMenu/mobileMenu.html' %}
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.8/min/tiny-slider.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/3.0.0-beta.6/aos.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lax.js"></script> -->
  <script src="main.js"></script>
</body>

</html>
