{% extends 'default.html' %} {% block content %}

<section class="top">
  <div class="top__inner lax" data-lax-translate-y="0 0, 400 200">
    {% block topBg %}
    <div class="top-video">
      <video src="../media/video1_1.mp4" muted="" playsinline autoplay="autoplay"></video>
      <div class="top-video__cover"></div>
    </div>
    {% endblock %}
    <div class="container top-content">
      <div class="top-header">
        <a href="index.html" class="logo"><svg width="106" height="100">
            <use xlink:href="#logo"></use>
          </svg></a>
        <div class="main-nav main-nav_top">
          <li><a href="#">Коллекции</a></li>
          <li><a href="#">Франшиза</a></li>
          <li><a href="#">Где купить</a></li>
        </div>
      </div>
      {% block topText %}
      <div class="top-text">
        <div class="top-text__1">Новая женская <br> коллекция</div>
        <a href="#" class="top-text__2">Spring Sportschic</a>
        <div class="top-text__3">2019/20</div>
      </div>
      {% endblock %}
      <div class="top-scroll">Скролл</div>
    </div>
  </div>
</section>
<div class="top-line">
  <div class="top-line__inner">
    <svg width="83" height="19">
      <use xlink:href="#logo1"></use>
    </svg>
    <div class="main-nav main-nav_line">
      <li><a href="#">Коллекции</a></li>
      <li><a href="#">Франшиза</a></li>
      <li><a href="#">Где купить</a></li>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="wrapper__inner">
    <section class="section-sliders">
      <div class="sliders-wrapper sliders-wrapper1">
        <div class="slider1 slider-group" data-aos="fade-up">
          <div>
            <div class="slider1__item"><img class="lazy-me" data-src="../media/temp/slider1/2.jpg" alt=""></div>
            <div class="slider1__item"><img class="lazy-me" data-src="../media/temp/slider1/1.jpg" alt=""></div>
            <div class="slider1__item"><img class="lazy-me" data-src="../media/temp/slider1/3.jpg" alt=""></div>
          </div>
        </div>
        <div class="slider2 slider-group" data-aos="fade-up">
          <div>
            <div class="slider2__item">
              <div class="slider2__pagi">01</div>
              <div class="slider2__title">Одежда для деловых женщин</div>
            </div>
            <div class="slider2__item">
              <div class="slider2__pagi">02</div>
              <div class="slider2__title">Только натуральные ткани</div>
            </div>
            <div class="slider2__item">
              <div class="slider2__pagi">03</div>
              <div class="slider2__title">Только качественные бренды</div>
            </div>
          </div>
        </div>
      </div>
      <div class="sliders-wrapper sliders-wrapper2">
        <div class="slider3 slider-group" data-aos="fade-up">
          <div>
            <div class="slider3__item">
              <div>
                <p>Изысканный дизайн, высококачественные ткани, отличная посадка, соответствие модным тенденциям — главные составляющие коллекций одежды.</p>
                <p>При создании моделей мы ориентируемся на потребности наших покупателей, выпускаем ограниченные партии широкого ассортимента одежды (костюмы, брюки, юбки, платья, жакеты, жилеты, блузы), предлагаем систему подбора капсульного гардероба и постоянно отслеживаем изменения тенденций в деловой моде. </p>
              </div>
            </div>
            <div class="slider3__item">
              <div>
                <p>Изысканный дизайн, высококачественные ткани, отличная посадка, соответствие модным тенденциям — главные составляющие коллекций одежды.</p>
                <p>При создании моделей мы ориентируемся на потребности наших покупателей, выпускаем ограниченные партии широкого ассортимента одежды (костюмы, брюки, юбки, платья, жакеты, жилеты, блузы), предлагаем систему подбора капсульного гардероба и постоянно отслеживаем изменения тенденций в деловой моде. </p>
              </div>
            </div>
            <div class="slider3__item">
              <div>
                <p>Изысканный дизайн, высококачественные ткани, отличная посадка, соответствие модным тенденциям — главные составляющие коллекций одежды.</p>
                <p>При создании моделей мы ориентируемся на потребности наших покупателей, выпускаем ограниченные партии широкого ассортимента одежды (костюмы, брюки, юбки, платья, жакеты, жилеты, блузы), предлагаем систему подбора капсульного гардероба и постоянно отслеживаем изменения тенденций в деловой моде. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="slider4 slider-group" data-aos="fade-up">
          <div>
            <div class="slider4__item"><img class="lazy-me" data-src="../media/temp/slider4/1.jpg" alt=""></div>
            <div class="slider4__item"><img class="lazy-me" data-src="../media/temp/slider4/2.jpg" alt=""></div>
            <div class="slider4__item"><img class="lazy-me" data-src="../media/temp/slider4/3.jpg" alt=""></div>
          </div>
        </div>
      </div>
    </section>
    <div class="index-catalog">
      <div class="title">Новые концептуальные коллекции</div>
      <a href="#" class="link-all link-all_next link-all-sticky"><span data-letters="Все коллекции">Все коллекции</span></a>
      <div class="i-catalog-menu i-catalog-menu-sticky">
        <div class="i-catalog-menu__inner">
          <div class="i-catalog-menu-wrapper i-catalog-menu-top">
            <div class="inner">
              <a href="#">Age-free</a>
              <a href="#">Classic</a>
              <a href="#">Sportschic</a>
            </div>
          </div>
          <div class="i-catalog-menu-wrapper i-catalog-menu-middle">
            <div class="inner">
              <a href="#"><span data-letters="Age-free">Age-free</span> <sup>2019/20</sup></a>
              <a href="#"><span data-letters="Classic">Classic</span> <sup>2019/20</sup></a>
              <a href="#"><span data-letters="Sportschic">Sportschic</span> <sup>2019/20</sup></a>
            </div>
          </div>
          <div class="i-catalog-menu-wrapper i-catalog-menu-bottom">
            <div class="inner">
              <a href="#">Age-free</a>
              <a href="#">Classic</a>
              <a href="#">Sportschic</a>
            </div>
          </div>
        </div>
      </div>
      <div class="index-catalog__imgs">
        <div class="index-catalog__imgs-item imgs-grid aos-me-container imgs-grid_1">
          <a href="#" class="imgs-grid__item"><img class="aos-me" src="../media/temp/index-catalog/1/1.jpg" alt=""></a>
          <a href="#" class="imgs-grid__item"><img class="aos-me" src="../media/temp/index-catalog/1/2.jpg" alt=""></a>
          <a href="#" class="imgs-grid__item"><img class="aos-me" src="../media/temp/index-catalog/1/3.jpg" alt=""></a>
        </div>
        <div class="index-catalog__imgs-item imgs-grid aos-me-container imgs-grid_2">
          <a href="#" class="imgs-grid__item"><img class="aos-me" src="../media/temp/index-catalog/2/1.jpg" alt=""></a>
          <a href="#" class="imgs-grid__item"><img class="aos-me" src="../media/temp/index-catalog/2/2.jpg" alt=""></a>
          <a href="#" class="imgs-grid__item"><img class="aos-me" src="../media/temp/index-catalog/2/3.jpg" alt=""></a>
        </div>
        <div class="index-catalog__imgs-item imgs-grid aos-me-container imgs-grid_3">
          <a href="#" class="imgs-grid__item"><img class="aos-me" src="../media/temp/index-catalog/3/1.jpg" alt=""></a>
          <a href="#" class="imgs-grid__item"><img class="aos-me" src="../media/temp/index-catalog/3/2.jpg" alt=""></a>
          <a href="#" class="imgs-grid__item"><img class="aos-me" src="../media/temp/index-catalog/3/3.jpg" alt=""></a>
        </div>
      </div>
    </div>
    <div class="center-text">
      <div class="center-text__title" data-aos="fade-up">Современный человек не носит одежду, он разговаривает с ее помощью. Формирует собственный стиль и транслирует его миру. Чтобы его заметили, приняли и полюбили таким, какой он есть. »</div>
      <div class="center-text__footer" data-aos="fade-up">
        <div class="center-text__footer-inner">
          <svg width="83" height="19">
            <use xlink:href="#logo1"></use>
          </svg>
          <div class="center-text__1">Концептуальная дизайнерская одежда и обувь</div>
        </div>
      </div>
    </div>
    <div class="imgs-1 aos-me-container">
      <div class="img-1 lax" data-lax-preset="lazy-400"><img class="aos-me" src="../media/temp/imgs/1.jpg" alt=""></div>
      <div class="img-2"><img class="aos-me" src="../media/temp/imgs/2.jpg" data-aos-delay="200" alt=""></div>
    </div>
    <div class="columns-text">
      <hr class="hr" data-aos="fade-up">
      <div class="columns-text__inner" data-aos="fade-up">
        <p>А что, если делать дизайнерский бренд по ценам масс-маркета? И коллекции будут обновляться каждые 20 дней. </p>
        <p>Получится одежда, которая вдохновляет, дарит счастье быть собой в любое время и при любых возможностях!</p>
        <p>Чтобы такой бренд стал реальностью, была собрана команда талантливых российских и корейских дизайнеров. Микс азиатской скорости производства и нюха на тренды с понимаем того, что необходимо российскому покупателю. </p>
        <p>На выходе мы получаем ультрамодную, но очень практичную одежду по доступным ценам. И мы рады поделиться ею с Вами в нашем каталоге.</p>
        <p>На выходе мы получаем ультрамодную, но очень практичную одежду по доступным ценам. И мы рады поделиться ею с Вами в нашем каталоге.</p>
        <p>Чтобы такой бренд стал реальностью, была собрана команда талантливых российских и корейских дизайнеров. Микс азиатской скорости производства и нюха на тренды с понимаем того, что необходимо российскому покупателю. </p>
      </div>
    </div>
    <div class="gallery">
      <div class="title">Instagram</div>
      <a href="#" class="link-all link-all_next link-all-sticky"><span data-letters="Подписаться">Подписаться</span></a>
      <div class="gallery__inner">
        <div class="gallery-sticky">
          <a href="#" class="hash-tag">
            <svg width="60" height="60">
              <use xlink:href="#logo"></use>
            </svg>
            <span data-letters="#amaia_tmn">#amaia_tmn</span>
          </a>
          <div class="gallery__text">Официальный instagram аккаунт AMiAtOGO. <br> Используете хештеги:</div>
          <div class="gallery__hashes gallery__hashes-sticky">
            <a href="#"><span data-letters="#amaia">#amaia</span></a>
            <a href="#"><span data-letters="#concept">#concept</span></a>
            <a href="#"><span data-letters="#classicstyle">#classicstyle</span></a>
            <a href="#"><span data-letters="#officestyle">#officestyle</span></a>
            <a href="#"><span data-letters="#streetstyle">#streetstyle</span></a>
          </div>
        </div>
        <div class="gallery__items">
          <div class="gallery__items-inner aos-me-container"> {% for i in range(8) %} <a href="#" class="gallery__item">
              <div class="gallery__info">
                <div class="gallery__info-item gallery__info-item_favorite">78</div>
                <div class="gallery__info-item gallery__info-item_speech">2</div>
              </div>
              <img class="aos-me" src="../media/temp/gallery/{{loop.index}}.jpg" alt="">
            </a> {% endfor %} </div>
        </div>
      </div>
      <div class="link-all link-all_plus js-gallery-more"><span data-letters="Показать еще">Показать еще</span></div>
    </div>
    <div class="products">
      <div class="title">Где купить</div>
      <div class="products-slider" data-aos="fade-up" data-aos-offset="-300">
        <div> {% for i in range(6) %} <div class="item">
            <a href="#" class="item__img">
              <img src="../media/temp/item/{{loop.index}}.jpg" alt="">
            </a>
            <a href="#" class="item__title">Торгово-развлекательный центр «Великий камень»</a>
            <div class="item__addr">г. Москва, ул. Набережная, 12</div>
            <div class="item__tel"><span>Тел.:</span> +7 (945) 900-23-21, +7 (945) 900-23-11</div>
            <div class="item__worktitle">Режим работы</div>
            <div class="item__days">
              <span>Пн-пт:</span> 10:00–22:00 <span>Сб:</span> 10:00–19:00 <span>Вс:</span> 10:00–15:00 </div>
            <a href="#" class="item__map">Как добраться</a>
          </div> {% endfor %} </div>
      </div>
      <a href="#" class="link-all link-all_next"><span data-letters="Все магазины">Все магазины</span></a>
    </div>
    <div class="to-top"></div>
    <footer class="footer">
      <div class="footer__inner" data-aos="fade-up">
        <div class="footer__top">
          <div class="subscribe-us">
            <div class="subscribe-us__text">Получите эксклюзивную информацию о наших новых поступлениях и коллекциях:</div>
            <form action="#" class="subscribe-us__form">
              <input type="email" class="form-control" placeholder="Введите e-mail">
              <button class="button" type="submit"></button>
            </form>
          </div>
          <div class="footer-nav">
            <a href="#">Коллекции</a>
            <a href="#">Франшиза</a>
            <a href="#">Где купить</a>
            <a href="#">Политика конфиденциальности</a>
          </div>
        </div>
        <div class="footer__bottom">
          <div class="footer__copy"> © 2019 Amiatogo <br><br> ООО «Амиатого», ИНН 12313344, <br> 115114 г. Москва, пропект Мира, 12, офис 4, </div>
          <div>
            <div class="social-black">
              <a href="#"><svg width="9" height="16">
                  <use xlink:href="#icon-facebook"></use>
                </svg></a>
              <a href="#"><svg width="17" height="14">
                  <use xlink:href="#icon-twitter"></use>
                </svg></a>
              <a href="#"><svg width="18" height="18">
                  <use xlink:href="#icon-pinterest"></use>
                </svg></a>
              <a href="#"><svg width="21" height="12">
                  <use xlink:href="#icon-vkontakte"></use>
                </svg></a>
              <a href="#"><svg width="16" height="16">
                  <use xlink:href="#icon-pinterest"></use>
                </svg></a>
              <a href="#"><svg width="20" height="14">
                  <use xlink:href="#icon-email"></use>
                </svg></a>
            </div>
            <div class="footer__question">Есть вопросы? <br> Пожалуйста, напишите нам: <a href="mailto:info@amiatogo.ru">info@amiatogo.ru</a>
            </div>
          </div>
          <div>
            <div class="footer__develop">
              <div>Дизайн сайта — <a target="_blank" href="icrea.ru">icrea.ru</a></div>
              <div>Разработка сайта — <a target="_blank" href="natix.ru">natix.ru</a></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
{% endblock %}
