{% set bodyClass = 'index' %}

{% extends 'default.html' %}

{% block content %}

<div class="wrapper">
  <div class="container">
    {% include 'fourSliders/fourSliders.html' %}
    {% from 'catalog/catalog.html' import catalog %}
    {{catalog({
      class: "home",
      title: "Новые концептуальные коллекции",
      nav: [
        {
          title: "Age-free",
          date: "2019/20"
        },
        {
          title: "Classic",
          date: "2019/20"
        },
        {
          title: "Sportschic",
          date: "2019/20"
        }
      ],
      imgs: [
        {
          items: [
              {
                size: "lg",
                srcset: ["500", "1000"]
              },
              {
                size: "sm",
                alignBottom: true
              },
              {
                size: "md",
                srcset: ["300", "720"]
              }
          ]
        },
        {
          items: [
              {
                size: "md",
                alignBottom: true,
                srcset: ["300", "720"]
              },
              {
                size: "sm"
              },
              {
                size: "lg",
                srcset: ["500", "1000"]
              }
          ]
        },
        {
          items: [
              {
                size: "sm",
                alignBottom: true
              },
              {
                size: "lg",
                srcset: ["500", "1000"]
              },
              {
                size: "md",
                srcset: ["300", "720"]
              }
          ]
        }
      ]
    })}}
  </div>
    <div class="container">
      {% include 'centerText/centerText.html' %}
      {% include 'imgsSiblings/imgsSiblings.html' %}
      {% include 'columnsText/columnsText.html' %}
      {% include 'gallery/gallery.html' %}
      {% include 'sliderStoreBlock/sliderStoreBlock.html' %}
    </div>
</div>
{% endblock %}
