{% set bodyClass = 'index' %}

{% extends 'default.html' %}

{% block content %}

<div class="wrapper">
  <div class="container">
    {% include 'fourSliders/fourSliders.html' %}
    {% include 'catalog/catalog.html' %}
  </div>
    <div class="container">
      {% include 'centerText/centerText.html' %}
      {% include 'imgsSiblings/imgsSiblings.html' %}
      {% include 'columnsText/columnsText.html' %}
      {% include 'gallery/gallery.html' %}
      {% include 'sliderStoreBlock/sliderStoreBlock.html' %}
    </div>
</div>
{% endblock %}
