<section class="fourSliders">
  <div class="sliders-wrapper sliders-wrapper1">
    <div class="slider1 slider-group swiper-container" data-aos="fade-up">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img class="lazy-img" data-src="../media/temp/slider1/3.jpg" alt=""></div>
        <div class="swiper-slide"><img class="lazy-img" data-src="../media/temp/slider1/1.jpg" alt=""></div>
        <div class="swiper-slide"><img class="lazy-img" data-src="../media/temp/slider1/2.jpg" alt=""></div>
      </div>
    </div>
    <div class="slider2 swiper-container slider-group" data-aos="fade-up">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="slider2__pagi">01</div>
          <div class="slider2__title">Одежда для деловых женщин</div>
        </div>
        <div class="swiper-slide">
          <div class="slider2__pagi">02</div>
          <div class="slider2__title">Только натуральные ткани</div>
        </div>
        <div class="swiper-slide">
          <div class="slider2__pagi">03</div>
          <div class="slider2__title">Только качественные бренды</div>
        </div>
      </div>
    </div>
  </div>
  <div class="sliders-wrapper sliders-wrapper2">
    <div class="slider3 swiper-container slider-group" data-aos="fade-up">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div>
            <p>Изысканный дизайн, высококачественные ткани, отличная посадка, соответствие модным тенденциям — главные составляющие коллекций одежды.</p>
            <p>При создании моделей мы ориентируемся на потребности наших покупателей, выпускаем ограниченные партии широкого ассортимента одежды (костюмы, брюки, юбки, платья, жакеты, жилеты, блузы), предлагаем систему подбора капсульного гардероба и постоянно отслеживаем изменения тенденций в деловой моде. </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div>
            <p>Изысканный дизайн, высококачественные ткани, отличная посадка, соответствие модным тенденциям — главные составляющие коллекций одежды.</p>
            <p>При создании моделей мы ориентируемся на потребности наших покупателей, выпускаем ограниченные партии широкого ассортимента одежды (костюмы, брюки, юбки, платья, жакеты, жилеты, блузы), предлагаем систему подбора капсульного гардероба и постоянно отслеживаем изменения тенденций в деловой моде. </p>
          </div>
        </div>
        <div class="swiper-slide">
          <div>
            <p>Изысканный дизайн, высококачественные ткани, отличная посадка, соответствие модным тенденциям — главные составляющие коллекций одежды.</p>
            <p>При создании моделей мы ориентируемся на потребности наших покупателей, выпускаем ограниченные партии широкого ассортимента одежды (костюмы, брюки, юбки, платья, жакеты, жилеты, блузы), предлагаем систему подбора капсульного гардероба и постоянно отслеживаем изменения тенденций в деловой моде. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="slider4 swiper-container slider-group" data-aos="fade-up">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="../media/temp/slider4/1.jpg" alt=""></div>
        <div class="swiper-slide"><img src="../media/temp/slider4/2.jpg" alt=""></div>
        <div class="swiper-slide"><img src="../media/temp/slider4/3.jpg" alt=""></div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="slider-navigation">
        <div class="slider-button slider-button-prev"></div>
        <div class="slider-button slider-button-next"></div>
      </div>
    </div>
  </div>
</section>