@import utilities/smart-grid
@import utilities/mixins
@import utilities/variables

.fourSliders
  overflow: hidden
  margin: 0 calc(var(--fields) * -1)
  margin-bottom: 348px
  +lg-block
    overflow: initial
    margin-bottom: 160px
    margin-left: 0
  +xs-block
    margin-bottom: 85px
  img
    display: block
    width: 100%

.sliders-wrapper
  user-select: none
  display: flex
  min-width: 0
  // align-items: flex-start
.sliders-wrapper1
  height: 420px
  +xl-block
    height: 320px
  +lg-block
    display: block
    height: auto
.sliders-wrapper2
  +lg-block
    flex-direction: column
    .slider3
      order: 2
    .slider4
      order: 1
  
.slider-group
  .tns-slider
    // transition-timing-function: cubic-bezier(0.51, 0, 0.5, 0.48)
  
.slider1
  width: calc(var(--columnJs) * 2 + var(--fields))
  flex: none
  +lg-block
    display: none
  .tns-inner
    margin-right: -1px !important
  &__item
    overflow: hidden
    img
      width: 100%
      transition: 1s ease
    &.before-active img
      transform: translateX(25%)
    &.tns-slide-active
      img
        transform: translateX(0)
      & + .tns-item img
        transform: translateX(-25%)
        +lg-block
          transform: none
.slider2
  flex: 1
  min-width: 0
  height: 180px
  margin-left: calc((100% - var(--fields) * 2) / var(--columns))
  margin-top: 228px
  +xl-block
    margin-top: 120px
  +lg-block
    margin-left: 0
    height: 98px
    flex: none
  +xs-block
    // margin-top: 50px
    margin-top: 39px
    height: 121px
  &__item
    width: calc(var(--columnJs) * 14)
    transition: opacity 1s
    display: inline-flex !important
    transition: inherit
    transform: translateX(0)
    // &:not(.tns-slide-active)
    &.tns-slide-active+&.tns-slide-active
      opacity: 0.2
    +lg-block
      width: calc((100% - var(--fields)) / 13 * 9)
      transform: translateX(0)
    +xs-block
      flex-wrap: wrap
      width: calc(var(--columnJs) * 6)
      padding-left: 0
      transform: translateX(0)
  &__title
    +h2
    margin: 0
    margin-right: calc(100% / 14 * 3)
    +lg-block
      margin-right: calc(100% / 9 * 1)
    +xs-block
      width: 100%
  &__pagi
    flex: none
    margin-top: 12px
    position: relative
    width: calc(100% / 14 * 2)
    margin-right: calc(100% / 14 * 1)
    color: #0c0d0f
    font-family: $angelicia-text
    font-size: 14px
    font-weight: 400
    &::before
      content: ''
      display: block
      width: 100%
      height: var(--border-size-base)
      background-color: #16181c
      opacity: 0.15
      margin-bottom: 27px
      +lg-block
        margin-bottom: 10px
      +xs-block
        height: 1px
    +lg-block
      width: var(--columnJs)
      margin-right: var(--columnJs)
      font-size: 12px
    +xs-block
      margin: 0 0 20px
      font-size: 11px
      &::before
        margin-bottom: 6px
.slider3
  flex: none
  width: calc(var(--columnJs) * 5)
  margin-left: calc(var(--fields) + var(--columnJs) * 6)
  color: #60656b
  line-height: 24px
  +xl-block
    width: calc(var(--columnJs) * 7)
  +lg-block
    width: calc(var(--columnJs) * 6)
    margin-left: calc(var(--columnJs) * 2)
  +xs-block
    width: 100%
    padding-right: var(--fields)
    margin-left: 0
    line-height: 18px
  &__item
    & > div
    p
      margin-bottom: 24px

.slider4
  overflow: hidden
  position: relative
  flex: 1
  margin-left: calc(var(--columnJs) * 3)
  +lg-block
    margin-left: calc(var(--columnJs) * 2)
  +xs-block
    padding-left: 0
    margin-left: 0
    margin-bottom: 35px
  &__item
    overflow: hidden
    width: 100%
    img
      transition: 1s ease
    +lg-block
      width: calc(var(--columnJs) * 7)
    +xs-block
      width: calc(var(--columnJs) * 6)
      img
        height: 170px
        object-fit: cover
    &.before-active img
      transform: translateX(25%)
    &.tns-slide-active
      img
        transform: translateX(0)
      & + .tns-item img
        transform: translateX(-25%)
        +lg-block
          transform: none
  .tns-outer
    display: flex
    flex-direction: column
  .tns-nav
    align-self: flex-end
    margin-right: var(--fields)
    position: relative
    margin-top: 30px
    display: none
    +lg-block
      display: block
    +xs-block
      display: none
  .tns-controls
    position: absolute
    left: 0
    top: 0
    z-index: 5
    +lg-block
      display: none