@import sass/utilities/smart-grid
@import sass/utilities/mixins
@import sass/utilities/variables

+make-offsets

.slider
  @extend .m-b-6
  @extend .m-b-xl-6
  @extend .m-b-xs-5
  &__slidesWrapper
    margin-right: calc(var(--fields) * -1)
    margin-left: calc(var(--fields) * -1)
    padding-left: calc(var(--fields) + var(--columnJs) * 2)
    +lg-block
      margin-bottom: 17px
    +xs-block
      padding-left: var(--fields)
      margin-bottom: 70px
  .swiper-slide
    display: block
    width: calc(100% / 3)
    text-decoration: none
    +lg-block
      width: calc(100% / 12 * 5)
    +md-block
      width: calc((100% - var(--fields) * 2) / var(--columns) * 8)
    +xs-block
      width: calc((100% - var(--fields) * 2) / var(--columns) * 6)
  .swiper-pagination
    display: none
    +lg-block
      display: block
      position: static
      margin-top: 50px
      text-align: left
    +xs-block
      display: none
  .slider-navigation
    margin-top: 86px
    +tns-control-white
    .slider-button
      background-color: transparent
    +lg-block
      display: none
  .link-all
    +shift-left(16)
    margin-top: -50px
    +lg-block
      margin-left: auto
    +xs-block
      margin: 0
