.button
  position: relative
  border-radius: 0
  appearance: none
  text-align: center
  padding: 17px 23px
  display: inline-block
  cursor: pointer
  user-select: none
  font-size: 1rem
  line-height: 1
  font-weight: 700
  background: none
  border: 0
  outline: none !important
  transition: background .3s 