.main-nav
  list-style: none
  display: flex
  position: relative
  +xs-block
    display: none
  li
    margin-left: 50px
    +xl-block
      margin-left: 24px
    &.active a
      color: #818285
  a
    display: block
    text-decoration: none
    font-size: 17px
    position: relative
    +xl-block
      font-size: 14px
  &_top
    top: -4px
    a
      &::before, &::after
        width: 0%
        position: absolute
        transition: width 0.5s
        transition-timing-function: cubic-bezier(0.7,0,0.3,1)
        content: ''
        display: block
        left: 0
        bottom: 0px
        border-bottom: 1px solid rgba(255,255,255,.6)
      &:hover
        &::after
          width: 100%
  &_line
    height: 100%
    a
      color: #818285
      font-size: 15px
      font-weight: 400
      position: relative
      height: 100%
      display: flex
      align-items: center
      overflow: hidden
      &::before
        content: ''
        position: absolute
        left: 0
        width: 100%
        bottom: 0
        background-color: #16181c
        height: 3px
        transform: translateY(3px)
        transition: .4s
    li
      &.active a
        color: #16181c
        &::before
          transform: translateY(0)
  &_line_page
    li.active a
      color: $gray-color
    a
      font-size: 17px
      color: $base-color
      height: 50px
      overflow: initial
      +xl-block
        font-size: 14px
      &::before
        bottom: -68px
      &:hover
        color: $gray-color